[Unit]
Description=Daily Docker image+container prune
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker image prune -af --filter "until=168h"
ExecStart=/usr/bin/docker container prune -f --filter "until=168h"
